body
{
 background-color: rgb(255, 197, 142);
 display: flex;
 justify-content: center;
 align-items: center;
}
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


.container
{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: transparent;
    align-items: center;
    margin: 80px;
    padding: 40px;
    justify-content: center;
    align-self: center;
    list-style-type: none;
}